---
import Search from "./search.astro";
import Logo from "~/assets/logo.svg";
import { Button } from "~/components/ui/button";
import { nav } from "~/lib/nav";
import MobileNav from "./mobile-nav";
import ThemeToggle from "./mode-toggle";
---

<header class="sticky top-0 z-50 w-full border-b-4 bg-background">
  <div class="flex h-(--header-height) items-center justify-between px-4">
    <div>
      <div class="invisible hidden lg:visible lg:block">
        <nav class="flex gap-2">
          <Button as="a" variant="ghost" href="/" size="icon" class="size-8">
            <Logo class="size-6!" />
          </Button>
          <Button as="a" variant="ghost" href="/docs" class="h-8 px-3"
            >Docs</Button
          >
          <Button
            as="a"
            variant="ghost"
            href="/docs/components"
            class="h-8 px-3">Components</Button
          >
          <Button as="a" variant="ghost" href="/docs/theming" class="h-8 px-3"
            >Theming</Button
          >
          <Button as="a" variant="ghost" href="/colors" class="h-8 px-3"
            >Colors</Button
          >
        </nav>
      </div>
      <div class="lg:invisible lg:hidden">
        <MobileNav client:load navGroups={nav} />
      </div>
    </div>
    <div class="flex gap-2">
      <Search />
      <ThemeToggle client:load />
    </div>
  </div>
</header>
