---
import "overlayscrollbars/overlayscrollbars.css";
import "~/styles/global.css";
---

<html lang="en" data-overlayscrollbars-initialize>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Solid UI Neobrutalism</title>
  </head>
  <body data-overlayscrollbars-initialize>
    <slot />
  </body>
</html>
<script>
  import { OverlayScrollbars } from "overlayscrollbars";

  OverlayScrollbars(document.body, {
    scrollbars: {
      autoHide: "scroll",
    },
  });
</script>
